<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.RotationpicDao">



    <select id="queryFive" resultType="Rotationpic">
        SELECT * FROM rotationpic order by create_time desc LIMIT 0,5
    </select>


</mapper>































